<footer class="row">
    <!--<div class="col-12 col-lg-12">
    <div class="col-12 col-lg-12"><p>Copyright &copy; 2013 Hype Index Program developed by Virtual Reality Hallucinations</p></div>
</div>-->
</footer>
