<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hip - Administration</title>
    <link rel="icon" type="image/png" href="images/favicon2.png" />
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/icons.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>
    <div class="container">
        {{>header}}
        <div role="main">
        {{{body}}}
        </div>
        {{>footer}}
    </div>
</body>
</html>