<form class="form-inline" role="form" method="post">
    <div class="form-group">
        <label class="sr-only" for="rss_db">Database</label>
        <input type="text" class="form-control" name="rss_db" id="rss_db" class="rss_db" placeholder="Database" />
    </div>

    <div class="form-group">
        <label class="sr-only" for="rss_name">Name</label>
        <input type="text" class="form-control" name="rss_name" id="rss_name" class="rss_name" placeholder="RSS Feed Name" />
    </div>

    <div class="form-group">
        <label class="sr-only" for="rss_url">Url</label>
        <input type="text" class="form-control" name="rss_url" id="rss_url" class="rss_url" placeholder="RSS Url" />
    </div>

    <button type="submit" class="btn btn-default">Add</button>
</form>

<script>
    $('#rss_db').typeahead({
        name: 'databases',
        local: {{{rawArray dbs}}}
    });
</script>